parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method App\\Core\\Result\:\:getMessage\(\)\.$#'
			identifier: method.notFound
			count: 2
			path: app/Http/Controllers/Manager/ReservationController.php

		-
			message: '#^Access to an undefined property App\\Services\\ReservationService\:\:\$logger\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ReservationService.php

		-
			message: '#^Access to an undefined property App\\Services\\ReservationService\:\:\$trackerRepo\.$#'
			identifier: property.notFound
			count: 1
			path: app/Services/ReservationService.php

		-
			message: '#^Call to an undefined method App\\Repositories\\Contracts\\ReservationRepositoryInterface\:\:updateTracker\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: app/Services/ReservationService.php

		-
			message: '#^Method App\\Services\\ReservationService\:\:attachPassInclusions\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: app/Services/ReservationService.php
